{% extends 'base.html' %}

{% block title %}Find culture near your location{% endblock title %}

{% block headerblock %}
<link rel="stylesheet" type="text/css" href="/media/styles.css">
{% endblock headerblock %}

{% block container %}

<div id="message-wrapper">
  <p id="message"></p>
</div>

<div id="map"></div>

{% endblock container %}

{% block footerblock %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/media/geo0.4.js"></script>
<script type="text/javascript" src="/media/scripts.js"></script>
{% endblock footerblock %}
